<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
<h1>Users List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td>
            <a th:href="@{/updateUser (id=${user.id})}">Edit</a>
            <a th:href="@{/deleteUser (id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/addUser ">Add User</a>
</body>
</html>
